
<section class="container main">
  <div class="spinners">
    <div class="spinner spinner_source">
      <div class="spinner_item">Python</div>
    </div>
    <button class="convert_button button">Convert</button>
    <div class="spinner spinner_dist">
      <div class="spinner_item">Obfuscated Python</div>
    </div>
  </div>
  <div class="fieldes"> 
    <div class="field"> 
      <div class="field_head"><span class="field_head-info">your code</span>
        <button class="field_head-copy">c</button>
      </div>
      <div class="field_wrapper">
        <div class="field_row-counter"></div>
        <textarea name="source"> </textarea>
      </div>
    </div>
    <div class="field"> 
      <div class="field_head"><span class="field_head-info">your obfuscated code</span>
        <button class="field_head-copy">c</button>
      </div>
      <div class="field_wrapper">
        <div class="field_row-counter"></div>
        <textarea name="dist"> </textarea>
      </div>
    </div>
  </div>
</section>