<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container" id="mobile">
      <div class= "text-container">
      <h1><i class="fa fa-check-circle" aria-hidden="true" style="color: #E6A1C3;"></i> Email verified</h1>
    <p>Your email is verified for Lomotif username <a href="#" style="font-weight: bold; color: #9DA4DB;">@someusername</a>. </p>
      <p>Redirecting you to Lomotif app in <span id="count">5</span>.</p>
      <a href="{{ token_link }}" class= "button">Go to app now</a>
      </div>
      </div>
    <div class="container" id="web">
      <div class= "text-container">
      <h1><i class="fa fa-check-circle" aria-hidden="true" style="color: #E6A1C3;"></i> Email verified</h1>
    <p>Your email is verified for Lomotif username <span style="color: #9DA4DB;">@someusername</span>. </p>
      <p>Your Lomotifs will now be safe with you forever.</p>
      <p>Check out Lomotif on <br /><span style="font-size: 2em;"><a href="" alt="Instagram"><i class="fa fa-instagram" aria-hidden="true" style="color: #E6A1C3;"></i></a> <a href="https://www.facebook.com/lomotif" alt="Twitter"><i class="fa fa-twitter-square" aria-hidden="true" style="color: #E6A1C3;"></i></a> <a href="https://www.twitter.com/lomotif" alt="facebook"><i class="fa fa-facebook-official" aria-hidden="true" style="color: #E6A1C3;"></i></a></span> </p>
      </div>
      </div>
  </body>
</html>