
<body><!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet">
      <link href="http://fonts.cdnfonts.com/css/noize-sport-free-vertion" rel="stylesheet">
      <link rel="stylesheet" href="static/css/style.css">
      <title>Document</title>
    </head>
  </html>
  <header> 
    <div class="container header_container">
      <nav class="navigation">
        <ul class="navigation_list">
          <li class="navigation_item"><a href="/">obfuscator</a></li>
          <li class="navigation_item"> <a href="">api documentation</a></li>
          <li class="navigation_item"> <a href="/login">login</a></li>
          <li class="navigation_item"> <a href="/registration">sign up</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="container main">
    <div class="spinners">
      <div class="spinner spinner_source">
        <div class="spinner_item">Python</div>
      </div>
      <button class="convert_button button">Convert</button>
      <div class="spinner spinner_dist">
        <div class="spinner_item">Obfuscated Python</div>
      </div>
    </div>
    <div class="fieldes"> 
      <div class="field"> 
        <div class="field_head"><span class="field_head-info">your code</span>
          <button class="field_head-copy">c</button>
        </div>
        <div class="field_wrapper">
          <div class="field_row-counter"></div>
          <textarea name="source"> </textarea>
        </div>
      </div>
      <div class="field"> 
        <div class="field_head"><span class="field_head-info">your obfuscated code</span>
          <button class="field_head-copy">c</button>
        </div>
        <div class="field_wrapper">
          <div class="field_row-counter"></div>
          <textarea name="dist"> </textarea>
        </div>
      </div>
    </div>
  </section>
  <section class="container about">
    <h2 class="about_heading">How to use it?</h2>
    <ol class="about_list">
      <li>Paste your code </li>
      <li>Wait for server response</li>
      <li>Enjoy result</li>
    </ol>
  </section>
</body>