@import "./style_reset.scss";

$danger: #f8d7da;
$blood: #721c24;
$primary_color: #1668B2;
$secondary_color: #727272;
$dark: #000;
$light: #fff;

* {
    font-family: "Roboto", sans-serif;
}

.button {
    font-size: 16px;
    padding: 10px 44px;
    background: $primary_color;
    color: $light;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    padding-inline: 33px;
    margin: 0 auto;
}

.navigation{
    margin-bottom: 70px;
    &_list {
        display: flex;
        gap: 10px;
    }

    &_item {
        font-family: 'Noize Sport Free Vertion', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        background: $primary_color;
        color: $light;
        padding: 14px 49px;
        white-space: nowrap;

        > a {
            color: #fff;
        }

        &:first-child {
            padding-left: 0;
            position: relative;

            &::before {
                content: "";
                display: block;
                background: $primary_color;
                height: 100%;
                width: 100%;
                position: absolute;
                left: -100%;
                top: 0;
            }
        }
    }
}

.alert {
    color: $blood;
    background-color: $danger;
    padding: 15px 26px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

    > * {
        margin-right: 20px;
    }
}

.api_key {
    color: $dark;
    margin: 40px 0;
    font-size: 24px;
}


.main {
    .spinners {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 23px;
        .spinner {
            width: 100%;
            border: $dark 1px solid;
            border-radius: 2px;
            position: relative;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 700;
            

            &::after{
                content: "";
                display: inline-block;
                position: absolute;
                top: 6px;
                right: 10px;
                width: 20px;
                height: 20px;
                border: solid $dark;
                border-width: 0 2px 2px 0;
                transform: rotate( 45deg);    
            }
        }
    }
    .fieldes {
        display: flex;        
        flex-wrap: nowrap;
        gap: 40px;
        
        .field {
            display: flex;
            border: 1px solid $dark;
            border-radius: 10px;
            flex: 1;
            flex-wrap: nowrap;
            position: relative;
            flex-direction: column;

            &_head {
                display: flex;
                flex: 0 0 auto;
                height: 35px;
                justify-content: space-between;
                align-items: center;
                padding: 21px;
                border-bottom: 1px solid $dark;
                &-info {
                    text-transform: uppercase;
                }
            }

            &_row-counter {
                width: 20px;
                border-right: 1px solid $dark;
                box-sizing: content-box;
            }

            &_wrapper {
                display: flex; 
                flex-wrap: wrap;
                height: 100%;
            }

            textarea {
                flex: 1;
                resize: vertical;
                box-sizing:content-box;
                min-height: 521px;
            }
        }
    }
}


.about {

}

.authorization {
    &_heading{
        text-align: center;
    }
    .form {
        display: flex;
        flex-direction: column;
        max-width: 441px;
        margin: auto;
        &_row {
            display: flex;
            flex-direction: column;
            &-label {
                text-transform: uppercase;
                color: $secondary_color;
                font-size: 12px;
            }

            &-input {
                margin-bottom: 32px;
                padding: 13px 18px;
                font-size: 16px;
                outline: none;
            }
        }

        &_button {
            font-family: 'Noize Sport Free Vertion', sans-serif;
            text-transform: uppercase;
            font-size: 16px;
            margin: auto;
        }
    }
}