header 
    .container.header_container
        nav.navigation
            ul.navigation_list
                li.navigation_item
                    a(href="/") obfuscator
                li.navigation_item 
                    a(href="/documentation") api documentation
                li.navigation_item 
                    a(href="/logout") logout 