.spinners
    .spinner.spinner_source
        .spinner_item Python
    button.convert_button.button Convert
    .spinner.spinner_dist
        .spinner_item Obfuscated Python
.fieldes 
    .field 
        .field_head
            span.field_head-info your code
            button.field_head-copy c
        .field_wrapper
            .field_row-counter
            textarea(name="source") 
    .field 
        .field_head
            span.field_head-info your obfuscated code
            button.field_head-copy c
        .field_wrapper
            .field_row-counter
            textarea(name="dist") 