section.container.main
    | {% if not api_key %}
    .alert
        .alert_message Please sign up or login to use api 
        a(href="/registration")
            button.alert_button.button Sign Up
    | {% endif %}
    include ./main.pug